[pyresticd]
backup_name = sometest
repo = /var/backup/restic-backups/something
src_dir = /
backup_at = 21:00
day_interval = 3

[infofile]
enabled = true
path = /var/www/pyresticd_somerandomstring.json

[restic]
binary = /opt/restic/restic
cache = ~/.cache/restic

[B2]
B2_ACCOUNT_ID = xxx
B2_ACCOUNT_KEY = yyy

[cleanup]
interval_days = 1
interval_hours = 0
interval_minutes = 5
interval_seconds = 0

[hostingde]
enabled = yes
apikey = secrectapikeyhere

